.fdk-color-primary {
    color: $color-primary; }

.fdk-bg-color-primary {
    background-color: $color-primary; }

.fdk-color-primary-light {
    color: $color-primary-light; }

.fdk-bg-color-primary-light {
    background-color: $color-primary-light; }

.fdk-color-primary-lighter {
    color: $color-primary-lighter; }

.fdk-bg-color-primary-lighter {
    background-color: $color-primary-lighter; }