/* Matched from designsystem */

$color-primary: #00C3FF;
$color-primary-light: #3CBEF0;
$color-primary-lighter: #AAE6FF;
$color-link: #0069A5;                 // Ny!!!

$color-nautral-darkest: #2D3741;
$color-nautral-dark: #646E78;

$color-neutral-light: #D2D7DC;
$color-neutral-lighter: #DEE3E8;
$color-neutral-lightest: #EEF0F2;

$color-success: #007D69;
$color-success-lighter: #AAEBD7;
$color-success-lightest: #DCFAF0;

$color-warning: #FFBE3C;
$color-warning-lighter: #FFE19B;
$color-warning-lightest: #FFFAD2;
$color-warning-dark: #805F1E;

$color-danger: #D70A5A;
$color-danger-lighter: #FFD2DC;
$color-danger-lightest: #FFEBF0;


/* Need to be removed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
$color-primary0: #00C3FF; /* blå themefarge */
$color-primary02: #0069A5; /* blå for liten tekst */
$color-primary03: #009BD7; /* blå for stor tekst */
$color-primary04: #AAE6FF; /* lys blå */

$color-neutral-lightest2: rgb(240, 37, 247);
$color-white: #FFFFFF;            // Trenger vi denne?
